<div class="downex">
        <button class="btn btn-primary"><%= link_to '구간별 전체', admin_path(format: :xlsx) %></button>
        
        <hr>
        <button class="btn btn-primary"><%= link_to '헬스', health_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to 'G.X', gx_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to 'P.T', pt_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '골프', golf_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '요가', yoga_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '필라테스', pila_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '수영', swim_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '스쿼시', squash_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '에어로빅', airobic_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '스크린골프', screengolf_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '사우나', sauna_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '찜질방', jimjil_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '스피닝', spinning_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '크로스핏', crossfit_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '복싱', boxing_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '마사지', masage_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '댄스', dance_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '탁구', pingpong_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '야구', baseball_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '검도', gumdo_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '클라이밍', climbing_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '킥복싱', kickboxing_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '격투기', fighting_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '순환운동', soonhwan_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '플라잉요가', flyingyoga_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '폴댄스', falldance_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '네일', nail_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '뷰티', beauty_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to 'ems', ems_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '발레', bale_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '명상', mungsang_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '체형교정', bodyfix_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '당구', danggu_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '볼링', bowling_path(format: :xlsx) %></button>
        <button class="btn btn-primary"><%= link_to '양궁', yanggung_path(format: :xlsx) %></button>
        
        
        <button class="btn btn-primary"><%= link_to '기타', etc_path(format: :xlsx) %></button>
        
        
        
         <%= link_to 'new', sibal_path(format: :xlsx) %>
          <%= link_to 'kkk', kkk_path(format: :xlsx) %>
           <%= link_to 'kkk2', kkk2_path(format: :xlsx) %>
       <%= link_to 'kkk3', kkk3_path(format: :xlsx) %>  
</div>